<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
   <title>練習</title>
  <link rel="stylesheet" href="style.css">
  </head>
<body>
<div class="navbar">
        <ul class="lists">
          <li><%=link_to"つぶやき一覧をみにいく", tweets_path,method: :get%></li>
          <li><%=link_to"お問い合わせ", "#"%></li>
          <li><%=link_to"使い方ガイド", "#"%></li>
          <li><%=link_to"ブログ", "#"%></li>
        </ul>     
</div>
<div class= "title">気軽に日常をの出来事を呟いてみよう</div>
<%=image_tag "旅行２.jpg", size:"20000x30" %>

</body>
</html>
