<div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class="more">

      

        <ul class="more_list">
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
          <% else %>
          <li>
           <%= link_to "詳細",tweet_path(tweet.id),method: :get%>
          </li>
          
          
           <% end %>
        </ul>
      </div>
      

      <p><%= tweet.text %></p>
       

    <span class="name">
        <a href="/users/<%= tweet.user.id%>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
  <strong></strong>
  <div class= "imagetag">
  </div>
    </div>
