<div class="contents row">
  <div class="container">
  <%= link_to "投稿一覧へ戻る",tweets_path,method: :get%>
    
    <h3>編集する</h3>

<%= form_with model: @tweet, local: true do |f| %>
  <%= f.label :text,"つぶやき"%>
  <%= f.text_area :text, rows: "15" %>

  <%= f.label :image, "画像を貼り付けよう"%>
  <%= f.file_field :image, placeholder: "画像のURL"%>
<div class="submit">
  <%= f.submit "送信"%>
  </div>
<% end %>

</div>
</div>