
<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class="more">

      <% if user_signed_in? && current_user.id != tweet.user_id %>
       <% if current_user.already_favorited?(tweet)%>
       <%= link_to "いいねを外す", tweet_favorites_path(tweet),method: :delete,class: "note_iine" %>
       <% else %>
       <%= link_to "いいね", tweet_favorites_path(tweet),method: :post,class: "iine" %>
       <% end %>
       <%= tweet.favorites.count %>
      <% end %>

        <ul class="more_list">
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
          <% else %>
          <li>
           <%= link_to "詳細",tweet_path(tweet.id),method: :get%>
          </li>
          
          
           <% end %>
        </ul>
      </div>
      

      <p><%= tweet.text %></p>
       

    <span class="name">
        <a href="/users/<%= tweet.user.id%>">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
  <strong>Image:</strong>
  <div class= "imagetag">
  <%= image_tag tweet.image.url %>
  </div>
    </div>
     
  <% end %>
 
</div>