<div class="top_page"><p><%= @nickname %>さんのマイページ</p></div>

<div class="follow_count">

<table>
<div class="follower">
  フォロー数： <%= current_user.follower.count %></div>
  <div class="name_size"><span>ユーザー名</div></span><div class="follower">

  
    <tbody>
    
        <% @following_users.each do |following_user| %>
        <tr>
            <td><%=following_user.nickname %>さん</td>
            
            <td><%= link_to 'フォロー外す', user_relationships_path(following_user.id), method: :delete ,class:"bton" %></td>
        </tr>
        
        <% end %>
    </tbody>
</table>

<br><br>
</div>

<table>

<div class="follower_right">
  フォロワー数：<%= current_user.followed.count %></div>
 <div class="name_size"><span>フォロワー名</div></span>
 
</div>
    <tbody>
        <% @follower_users.each do |follower_user| %>
        
            <td><%= follower_user.nickname %>さん</td>
        
        <% end %>
    </tbody>
  </table>
  </div>
</div>



  
  <br>
  <br>
  <div class="top_pages"><p><%= @nickname %>さんの投稿一覧</p><h1><%= link_to "投稿一覧へ戻る",tweets_path,method: :get,class:"page_back"%></h1>
  </div>
  <div class="contents row">
  
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <div class="more">
        <ul class="more_list">
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
           <% end %>
        </ul>
      </div>
    </div>
       
  <% end %>
  
  